.histogram {
    border: 1px var(--black) solid;
    border-radius: 8px;
    padding: 16px 24px 24px 24px;
    display: flex;
    flex-direction: column;
}

.histogram__labels {
    flex-basis: 50%;
}

.histogram__header {
    width: 200px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.histogram__link {
    margin-top: -20px;
    color: var(--primary);
    text-align: right;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.histogram__value {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.histogram__histogram {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 3px;
    flex-basis: 50%;
    height: 50px;
}

.histogram__column {
    background-color: var(--primary);
    flex-basis: 100%;
}