.histogram{
    border: 1px var(--black) solid;
    border-radius: 8px;
    padding: 25px;    
    display: flex;
    flex-direction: column;
}

.histogram__text{
    flex-basis: 50%;
}

.histogram__header{

}

.histogram__link{

}

.histogram__value{

}

.histogram__histogram{
    display: flex;    
    justify-content: space-between;
    align-items: flex-end;
    gap: 3px;
    flex-basis: 50%;
    height: 50px;
}

.histogram__column{
    background-color: var(--primary);    
    flex-basis: 100%;   
}



